    <div class="container-fluid d-flex flex-column align-items-center justify-content-center m-0">
        <div class="row text-center">
            <div class="col">
                <h1>Eat-Da-Burger</h1>
            </div>
        </div>     
   <!--Start of main body-->
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Burger</label>
        <input type="burger" class="form-control" id="newBurger" aria-describedby="burger">
        <div class="col">
            <input type="button" class="btn btn-light" type="submit" value="Order up!" id="create-burger"></input>
        </div>
    </div>

    <div class="row mb-5 mt-0">
        <div class="col">
            <h4> Your Burger List!</h4>
        </div>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-auto">
            <ul class="list text-center" id="created-list">
            <h4 class="mid-heading">Burgers</h4>
            {{#each burgers}}
                {{#unless devoured}}
            <li class="mt-2"><span class="mr-1 burger-name">{{burger_name}}</span><button class="btn btn-light devour-btn">Devour</button></li>
                {{/unless}}
            {{/each}}
        </ul>
        </div>
        <div class="col-auto">
            <ul class="list text-center" id="devoured-list">
                <h4 class="mid-heading">Devoured</h4>
                {{#each burgers}}
                    {{#if devoured}}
                <li class="mt-2">{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>