<div class="container-fluid d-flex flex-column align-items-center justify-content-center m-0" id="wrapper">
    <!-- Header -->
    <div class="row text-center">
        <div class="col">
            <h1 id="heading">"Eat-Da-Burger"</h1>
        </div>
    </div>     
</div>
